.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75); /* Adjust the default color as needed */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and transform */
}

/* Hover style for navbar links */
.navbar-dark .navbar-nav .nav-link:hover {
    color: #f7df0e; /* Color of text on hover */
    transform: translateY(-2px); /* Slightly raise the link on hover */
}

/* Active link style */
.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #ffffff; /* More prominent color for the active link */
    transform: none; /* No transform for active link */
}

.headericon {
  max-height: 75px;
}

.navbar-brand {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif';
}

/* Adjusting the width of the carousel */
#mainCarousel {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* Adjusting the height of the carousel */
.carousel-item {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* for a 16:9 aspect ratio */
  transition: transform 2s ease;
}
.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 2s ease;
}
/* SERVICES */
.services{
  color: white;
  background-color: #5c5959; /* Adjust the color to match your theme */
  padding: 20px 0;
}

.underline {
  width: 75px;
  height: 2px;
  background-color: #fff;
  margin: auto;
  margin-bottom: 2rem;
}

section {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

/* Exclude the last section from having a bottom border */
section:not(:last-of-type) {
  border-bottom: 2px solid #ccc;
}

.img-square-wrapper {
  position: relative;
  width: 100%; /* Adjust the width as necessary */
  /* Use padding-top to create a square aspect ratio */
  padding-top: 100%; 
  background-color: #f8f9fa; /* A light background color in case the image is not square */
  overflow: hidden;
}

.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Adjustments for .card-title to ensure it's visible */
.card-title {
  position: absolute;
  bottom: 10%; /* Raise the title so it's visible on the image */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Assuming you want white text for visibility */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the text */
  padding: 0.5em 1em;
  width: auto;
  z-index: 10; /* Ensure the title is above the image */
}

.btn-primary:hover {
  background-color: #656a70; /* Slightly darker shade of blue on hover */
  color: white; /* Keep text color white on hover */
}
/* Ensure that the card does not exceed its part of the grid and stays square */
.card.h-100 {
  height: auto; /* Reset any previously set height */
  margin: auto;
}

/* Update the .card class to maintain the square aspect ratio */
.card {
  overflow: hidden; /* Hide overflow */
  /* Remove text-align to allow default alignment */
  text-align: center;
}

.map-container{
    overflow:hidden;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

.price {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* TEAM */
.team{
  color: white;
  background-color: #5c5959; /* Adjust the color to match your theme */
  padding: 20px 0;
}

.team-img-square-wrapper {
  width: 50%; /* Full width of the card */
  padding-top: 20%; /* Smaller square, adjust the percentage as needed */
  position: relative;
}

.team-img-square-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  object-fit: cover;
}

/* If you want to adjust the overall size of the team cards */
.team-card {
  max-width: 65%; /* Adjust the width to be smaller */
  margin: auto; /* Center the card in the column */
}
/* CONTACT */
.contact-section {
  color: white;
  background-color: #5c5959; /* Adjust the color to match your theme */
  padding-top: 100px; /* Adjust the top padding */
  padding-bottom: 20px; /* Adjust the bottom padding */
}

.contact-form {
  max-width: 600px;
  margin: auto;
}

.contact-form .form-control {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  margin-bottom: 0rem; /* Added margin-bottom to each input for spacing */
}

.contact-form .btn-primary {
  background-color: #222; /* Adjust the color to match your theme */
  border: 1px solid #fff;
}

.contact-form .btn-primary:hover {
  background-color: #444; /* Adjust the color for hover state */
}

/* Styles for the heading and underline */
.contact-heading h2 {
  margin-bottom: 0px;
  text-align: center;
}

/* BOOKING */
 /* Add additional padding to the top of the container to ensure it's not covered by the fixed navbar */
 .booking-section {
  background-color: #5c5959; /* Adjust the color to match your theme */
  padding: 100px 10px;
}

.booking-heading {
  color: white; /* Make sure our heading remains visible with the background color */
}

.booking-form {
  max-width: 600px;
  margin: auto;
}

.underline {
  width: 75px;
  height: 2px;
  background-color: #fff;
  margin: auto;
  margin-bottom: 2rem;
}

.booking-form .form-control, .booking-form .form-select {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
}

.booking-form .form-control:disabled, .booking-form .form-select:disabled {
  background-color: lightcoral;
  border: 1px solid #fff;
  color: white;
}

.booking-form .btn-primary {
  background-color: #222; /* Adjust the color to match your theme */
  border: 1px solid #fff;
}

.form-text {
  color: black !important;
  background-color: lightgray;
  text-align: center;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
}

form label {
  color: white;
}

hr {
  background-color: white;
  padding: 1px 0;
  border-radius: 5px;
}

select option {
  color:#5c5959;
}

/* LOCATION */
.location{
  color: white;
  background-color: #5c5959; /* Adjust the color to match your theme */
  padding: 20px 0;
}

.map-container{
  overflow:hidden;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}