@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Lobster&display=swap');

/* Style the header */
header {
    background-color: #FF6169; /* Dark gray background */
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Lobster;
    font-size: 30px;
}

/* Style for the tab container */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab container */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-family: Dosis;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-family: Dosis;
}

/* Style the footer */
footer {
    background-color: #FF6169; /* Dark gray background */
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Dosis;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
