<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Results</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header>
        <h1>Survey Results for Khan Academy UI</h1>
    </header>
    <main>
        <% Object.keys(results).forEach(function(questionId) { %>
            <section>
                <h2>Question <%= questionId.replace('q', '') %>:</h2>
                <% if (Array.isArray(results[questionId])) { %>
                    <ul>
                        <% results[questionId].forEach(function(response) { %>
                            <li><%= response %></li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <% Object.keys(results[questionId]).forEach(function(response) { %>
                        <p><%= response %>: <%= results[questionId][response] %></p>
                    <% }) %>
                <% } %>
            </section>
        <% }) %>
    </main>
    <footer>
        <p>Website designed by Group 13</p>
    </footer>
</body>
</html>
