<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khan Academy UI Survey</title>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <h1>UI Survey for Khan Academy</h1>
    </header>
    <main>
        <h3>What do you think of <a href="https://www.khanacademy.org" target="_blank">Khan Academy</a>'s UI?</h3>
        <a href="https://www.khanacademy.org" target="_blank"><img src="../public/images/khanacademy_ui.png" alt="Khan Academy UI" height="500px"></a> <!-- Replace image height attribute with CSS, if you want -->
        <form>
            <!-- Question 1 -->
            <label for="q1">Question 1: What do you like about Khan Academy's UI? Please be concise.</label>
            <input type="text" id="q1" name="q1"><br><br />
            <!-- Question 2 -->
            <label for="q2">Question 2: What do you dislike about Khan Academy's UI? Please be concise.</label>
            <input type="text" id="q2" name="q2"><br><br />
            <!-- Question 3 -->
            <label for="q3">Question 3: Are you a student, educator, or other user of Khan Academy?</label>
            <select id="q3" name="q3">
                <option value="Unknown">Select</option>
                <option value="ElementaryMiddle">Student (Elementary/Middle)</option>
                <option value="HighSchool">Student (High School)</option>
                <option value="PostSec">Student (Post-secondary)</option>
                <option value="TeacherProf">Teacher/Professor</option>
                <option value="OtherUser">I'm not in school</option>
                <option value="NonUser">I don't use Khan Academy</option>
            </select><br><br />
            <!-- Question 4 -->
            <label for="q4">Question 4: Is the UI easy to navigate?</label>
            <input type="radio" id="q4o1" name="q4" value="Pos">
            <label for="q4o1">Yes, I can find what I need without difficulty.</label><br>
            <input type="radio" id="q4o2" name="q4" value="Pos">
            <label for="q4o2">Yes, but it takes me a few minutes.</label><br>
            <input type="radio" id="q4o3" name="q4" value="Neu">
            <label for="q4o3">It's neither easy nor hard to navigate.</label><br>
            <input type="radio" id="q4o4" name="q4" value="Neg">
            <label for="q4o4">No, it's hard for me to find what I need.</label><br>
            <input type="radio" id="q4o5" name="q4" value="Neg">
            <label for="q4o5">No, for other reasons.</label><br><br />
            <!-- Question 5 -->
            <label>Question 5: If you answered "No" to the previous question, what part of the UI do you dislike?</label>
            <input type="checkbox" id="checkbox1" name="q5" value="Busy">
            <label for="checkbox1">There's too much for me to look at.</label><br>
            <input type="checkbox" id="checkbox2" name="q5" value="CourseSection">
            <label for="checkbox2">I don't understand the course section.</label><br>
            <input type="checkbox" id="checkbox3" name="q5" value="Symbol">
            <label for="checkbox3">I don't understand the symbols on the page.</label><br>
            <input type="checkbox" id="checkbox4" name="q5" value="Other">
            <label for="checkbox4">Other, please elaborate in the comment space below.</label><br><br />
            <!-- Question 6 -->
            <label for="q6">Other comments?</label>
            <textarea name="q6"></textarea><br><br />
            <!-- Submit Button -->
            <input type="submit" value="Submit">
        </form>
    </main>
    <footer>
        <p>Website designed by Group 13</p>
    </footer>
    <script src="/assets/action.js"></script>
</body>
</html>