#about .leftContainer, .rightContainer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

#about img {
    max-width: 80%;
    padding-top: 10%;
}
#about .imgLeft {
    /* max-width: 80%; */
    /* max-width: 15%; */
    float: left;
}

#about .imgRight{
    /* max-width: 80%; */
    float: right;
}
#about .text {
    font-size: 20px;
    /* padding-left: 20px; */
    padding-top: 10%;
    max-width: 50%;
    /* float: left; */
    /* vertical-align: auto; */
}